In [46]:
import pandas as pd
import pyarrow
import openpyxl

In [47]:
df=pd.read_csv(r"C:\Python\complete_cleaned.csv",
                sep=";",
                header=0
                  )
df.head(3)

,id,observation_datestamp,city,state_id,country_id,shape_type,duration_in_sec,duration_string,comments,date_posted,latitude,longitude
0,0,1949-10-10 20:30:00,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,1,1949-10-10 21:00:00,lackland afb,tx,us,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,2,1955-10-10 17:00:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667

In [48]:
print(df.info(show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88679 entries, 0 to 88678
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     88679 non-null  int64
 1   observation_datestamp  88679 non-null  object
 2   city                   88679 non-null  object
 3   state_id               81270 non-null  object
 4   country_id             87560 non-null  object
 5   shape_type             88679 non-null  object
 6   duration_in_sec        88679 non-null  float64
 7   duration_string        85660 non-null  object
 8   comments               88644 non-null  object
 9   date_posted            88679 non-null  object
 10  latitude               88679 non-null  float64
 11  longitude              88679 non-null  float64
dtypes: float64(3), int64(1), object(8)
memory usage: 8.1+ MB
None

In [49]:
df["observation_datestamp"] = pd.to_datetime(df["observation_datestamp"])
df['date']=df['observation_datestamp'].dt.date
df['date']=pd.to_datetime(df['date'],format="%Y-%m-%d")
df['year'] = df['date'].dt.year

In [50]:
df.drop(columns="observation_datestamp",inplace=True)

In [51]:
print(df.info(show_counts=True))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88679 entries, 0 to 88678
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               88679 non-null  int64
 1   city             88679 non-null  object
 2   state_id         81270 non-null  object
 3   country_id       87560 non-null  object
 4   shape_type       88679 non-null  object
 5   duration_in_sec  88679 non-null  float64
 6   duration_string  85660 non-null  object
 7   comments         88644 non-null  object
 8   date_posted      88679 non-null  object
 9   latitude         88679 non-null  float64
 10  longitude        88679 non-null  float64
 11  date             88679 non-null  datetime64[ns]
 12  year             88679 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(1), int64(1), object(7)
memory usage: 8.5+ MB
None

In [52]:
df.head(3)

,id,city,state_id,country_id,shape_type,duration_in_sec,duration_string,comments,date_posted,latitude,longitude,date,year
0,0,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,1949-10-10,1949
1,1,lackland afb,tx,us,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,1949-10-10,1949
2,2,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,1955-10-10,1955

In [53]:
df['state_id']=df['state_id'].str.upper()
df['country_id']=df['country_id'].str.upper()
df['city']=df['city'].str.title()
df.head(3)

,id,city,state_id,country_id,shape_type,duration_in_sec,duration_string,comments,date_posted,latitude,longitude,date,year
0,0,San Marcos,TX,US,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,1949-10-10,1949
1,1,Lackland Afb,TX,US,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,1949-10-10,1949
2,2,Chester (Uk/England),NaN,GB,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,1955-10-10,1955

In [54]:
#check ile jest nawiasów w kolumnie city
nawiasy=df['city'].str.contains('\(.*?\)', case=False).sum()
print(nawiasy)

14540

In [55]:
#usuwanie nawiasow wraz z zawartoscia
df['city'] = df['city'].str.replace(r'\(.*?\)', '', regex=True)
df.head(3)

,id,city,state_id,country_id,shape_type,duration_in_sec,duration_string,comments,date_posted,latitude,longitude,date,year
0,0,San Marcos,TX,US,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,1949-10-10,1949
1,1,Lackland Afb,TX,US,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,1949-10-10,1949
2,2,Chester,NaN,GB,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,1955-10-10,1955

In [56]:
#check usuniecia
nawiasy=df['city'].str.contains('\(.*?\)', case=False).sum()
print(nawiasy)

0

In [57]:
#czy są same nawiasy otwierające
nawiasy_otwierajace=df['city'].str.contains('\(', case=False).sum()
print(nawiasy_otwierajace)

43

In [58]:
#usuwanie nawiasów otwierających wraz z zawartoscia
df['city'] = df['city'].str.replace(r'\(.*?', '', regex=True)

In [59]:
#check usuniecie nawiasow otwierajacych
nawiasy_otwierajace1 = df[df['city'].str.contains(r'\(', regex=True)]
print(nawiasy_otwierajace1)

Empty DataFrame
Columns: [id, city, state_id, country_id, shape_type, duration_in_sec, duration_string, comments, date_posted, latitude, longitude, date, year]
Index: []

In [60]:
#czy są same nawiasy zamykajace
nawiasy_zamykajace=df['city'].str.contains('\)', case=False).sum()
print(nawiasy_zamykajace)

35

In [61]:
nawiasy_zamykajace=df[df['city'].str.contains('\)', case=False)]
print(nawiasy_zamykajace)

          id                                               city state_id  \
5789    5789                                    Unadilla  Near)       NE
8194    8194                           Ft. Resolution   Canada)       NT
11993  11993                                    Yorkeys Knob  )      NaN
14210  14210                                   Fredericksburg )       TX
17920  17920                                                  )      NaN
18597  18597                                                  )       PA
19537  19537                                   Pacific Ocean )       NaN
20214  20214                                        Woodville )       NC
23437  23437                                Sault Ste. Marie )        ON
27129  27129                                           Espoo  )      NaN
33914  33914                                           Piney  )       TN
35771  35771                                                  )       NM
40609  40609                                   Tel Aviv Israel)      NaN
40973  40973                                          Glasgow )      NaN
42224  42224                                        Karachi )        NaN
43245  43245                                                  )      NaN
45133  45133  Iowa City Hwy 218 North&#44 I-380 North&#44 Ce...       IA
52860  52860                                 London Uk/England)      NaN
54713  54713                                           Phuket )      NaN
58304  58304                                         Florence )       CO
58832  58832                                      St. Maarten )      NaN
60128  60128                                      Afghanistan )      NaN
65369  65369                                         Berkeley )       MO
71339  71339                                                  )       OK
71343  71343                                                  )       OK
73236  73236                                       Ellensburg )       WA
73830  73830                                                 )       NaN
74335  74335                                           Sydney )      NaN
75757  75757      Hwy. 15 /Hwy. 72 Intersection&#44 1 Mi. E Of)       MS
78575  78575                                        In-Flight )       MT
80683  80683                                    Midwest U. S. )      NaN
81652  81652                                           Crimea )      NaN
82380  82380                                        Prescott  )       AZ
86361  86361                                     Winter Hill )       NaN
86404  86404                                                  )       IL

      country_id shape_type  duration_in_sec  duration_string  \
5789          US   triangle            180.0      2-3 minutes
8194          US      other            300.0        5 minutes
11993         AU      other            600.0   2 - 10 minutes
14210         US      light             60.0         1 minute
17920        NaN      other              0.0              NaN
18597         US     circle              0.0               22
19537         PR      other             60.0       one minute
20214         US    diamond           6300.0     45 min-1 hr.
23437         CA     circle            300.0      3-5 minutes
27129         FI   fireball            120.0  about 2 minutes
33914         US      light            600.0           10 min
35771         US     circle             60.0         1 minute
40609        NaN  rectangle              4.0        4 seconds
40973         GB   fireball             60.0            1 min
42224         PK      light             60.0             1min
43245        NaN      other              0.0              NaN
45133         US      other           3000.0       50 minutes
52860        NaN      other              0.0                ?
54713        NaN     circle            360.0        6 minutes
58304         US      light              0.5           .5 sec
58832        NaN   changing              6.0        6 seconds
60128        NaN      other            600.0       10 minutes
65369         US    diamond            120.0  several minutes
71339         US       cone              0.0                ?
71343         US      other              0.0          unknown
73236         US     circle           7200.0            2 hrs
73830         GB      other           3600.0           1 hour
74335         AU     circle              0.0              NaN
75757         US   fireball              5.0        5 seconds
78575         US      other              7.0        7 seconds
80683        NaN   changing            600.0       10 minutes
81652         UA      other           3600.0           1 hour
82380         US      other              0.0              NaN
86361         GB    diamond             30.0        30seconds
86404         US    chevron              1.0         1 second

                                                comments date_posted  \
5789   Powerful-sounding mystery craft hovers over fa...   8/16/2002
8194   Strange throbbing sound with intense flashes o...   2/14/2006
11993  1 slow moving UFO rising from East (ocean) to ...   6/20/2005
14210  Blue lights fill room of house in rural Texas ...   5/13/2012
17920  While traveling on the 303 sometime after 8:00...  11/21/2010
18597  ((HOAX??  Source indicates state of PA&#44 in ...   2/14/2010
19537  The object made no sound&#44 had colorful ligh...   1/19/2005
20214  I 1st saw it while heading no. on int. 17 in w...  11/20/2002
23437  7 or 8 Large Orange glowing UFOs Rise&#44make ...   2/14/2006
27129  There were flames in the sky&#44 like an aerop...    3/4/2003
33914  hovering light&#44 no sound&#44 exited at very...    4/2/1999
35771                 Short timed sighting over mountain    4/1/2001
40609                     rotating rectangle with lights   6/12/2008
40973       Large fireball falling through sky at night.   5/11/2005
42224                                      4 bright dots   2/14/2006
43245  ((HOAX))  well my son was controlled by these ...   6/12/2008
45133  Three objects seen initially&#44 two observed ...   4/11/2014
52860                                       Space Napped    8/1/2003
54713  3 white circle circular shaped UFO in Phuket T...   7/22/2013
58304  The move classic Rio Grand &#44 in the sean be...   1/21/2008
58832  ((HOAX??))  i choked on me jonny cake and star...  11/28/2007
60128  Light cone emiits smoke blast.  ((NUFORC Note:...    6/8/2012
65369        Two diamond shaped objects observed in sky.   4/16/2005
71339                  I saw aliens and their space ship   9/17/2000
71343  MAN REPORTED CONTACT WITH THREE INDIVIDUALS WI...   9/17/2000
73236  Very large UFO sighting south of Ellensburg WA...   2/24/2007
73830  On August 15th&#44 2009 at about 1:00am 1:30am...   8/27/2009
74335  I stand there&#44 tranfixed at this light&#44 ...   2/14/2006
75757  SAW BRIGHT ORANGE FIREBALL CROSSED SKY LEFT TO...   2/16/2000
78575  I viewed a small&#44 strange metallic aircraft...   8/11/2004
80683            Daytime changing Balloon-like phenomena    2/1/2007
81652  Pictures  TO FOLLOW - AT PRESENT MY WIFE AND F...  10/30/2006
82380  An object moving at a high rate of speed stopp...  11/20/2001
86361  strange ball of light&#44 4 red lights in a st...   12/7/2006
86404                                   Strobing Chevron  11/21/2010

        latitude   longitude       date  year
5789   40.683333  -96.269444 2000-10-29  2000
8194   61.172054 -113.673764 1991-01-10  1991
11993  16.816667  145.716667 1980-01-01  1980
14210  30.275000  -98.871667 1978-11-25  1978
17920   0.000000    0.000000 2010-11-08  2010
18597   0.000000    0.000000 2010-01-20  2010
19537   8.783195 -124.508523 1995-12-12  1995
20214  36.234167  -76.326667 1999-12-15  1999
23437  46.521858  -84.346090 2005-12-29  2005
27129  60.205491   24.655900 2003-01-04  2003
33914  36.015000  -84.558333 1999-03-01  1999
35771   0.000000    0.000000 2001-03-19  2001
40609  32.085300   34.781768 2008-04-14  2008
40973  55.833333   -4.250000 2005-04-15  2005
42224  24.861462   67.009939 2004-04-21  2004
43245   0.000000    0.000000 2008-04-25  2008
45133  41.975279  -91.676136 2014-04-07  2014
52860  51.508515   -0.125487 1998-06-01  1998
54713   7.880448   98.392250 2007-06-15  2007
58304  38.390278 -105.118056 1950-06-30  1950
58832  18.027304  -63.050081 2003-06-30  2003
60128  33.939110   67.709953 2012-06-07  2012
65369  38.754444  -90.331111 1981-07-22  1981
71339   0.000000    0.000000 2000-08-11  2000
71343   0.000000    0.000000 2000-08-11  2000
73236  46.996667 -120.546667 1972-08-15  1972
73830   0.000000    0.000000 2009-08-15  2009
74335  33.861481  151.205475 2004-08-17  2004
75757  32.697938  -89.146827 1997-08-02  1997
78575  60.691944 -141.243333 2003-08-03  2003
80683  43.411360 -106.280024 1999-09-11  1999
81652  44.952117   34.102417 2006-09-12  2006
82380  34.540000 -112.467778 1975-09-15  1975
86361  42.390801  -71.095831 2006-09-28  2006
86404   0.000000    0.000000 2010-09-28  2010

In [62]:
#ręczna poprawa powyższych danych
df.loc[8194,'country_id']='CA'
df.loc[5789,'city']='Unadilla'
df.loc[8194,'city']='Ft. Resolution'
df.loc[40609,'city']='Tel Aviv'
df.loc[40609,'country_id']='IL'
df.loc[52860,'city']='London'
df.loc[52860,'country_id']='GB'  
df.loc[45133,'city']='Iowa City'
df.loc[54713, 'city']='Phuket'
df.loc[54713, 'country_id']='TH'
df.loc[60128, 'city']=''
df.loc[60128, 'country_id']='AFG'
df.loc[75757,'city']=''   
df.loc[78575,'city']=''
df.loc[80683,'city']='Midwest'
df.loc[80683,'country_id']='US'

In [63]:
#usuwanie nawiasow zamykających + spacji przed
df['city'] = df['city'].str.replace(r' \)', '', regex=True)

In [64]:
#usuwanie nawiasow zamykających bez spacji
df['city'] = df['city'].str.replace(r'\)', '', regex=True)

In [65]:
#czy sa nawiasy zamykające
nawiasy_zamykajace = df[df['city'].str.contains(r'\)', regex=True)]
print(nawiasy_zamykajace)

Empty DataFrame
Columns: [id, city, state_id, country_id, shape_type, duration_in_sec, duration_string, comments, date_posted, latitude, longitude, date, year]
Index: []

In [66]:
df.head(30)

,id,city,state_id,country_id,shape_type,duration_in_sec,duration_string,comments,date_posted,latitude,longitude,date,year
0,0,San Marcos,TX,US,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,1949-10-10,1949
1,1,Lackland Afb,TX,US,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,1949-10-10,1949
2,2,Chester,NaN,GB,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667,1955-10-10,1955
3,3,Edna,TX,US,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833,1956-10-10,1956
4,4,Kaneohe,HI,US,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611,1960-10-10,1960
5,5,Bristol,TN,US,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889,1961-10-10,1961
6,6,Penarth,NaN,GB,circle,180.0,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000,1965-10-10,1965
7,7,Norwalk,CT,US,circle,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333,1965-10-10,1965
8,8,Pell City,AL,US,circle,180.0,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.586111,-86.286111,1966-10-10,1966
9,9,Live Oak,FL,US,circle,120.0,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.294722,-82.984167,1966-10-10,1966
10,10,Hawthorne,CA,US,circle,300.0,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.916389,-118.351667,1968-10-10,1968
11,11,Brevard,NC,US,fireball,180.0,3 minutes,silent red /orange mass of energy floated by t...,6/12/2008,35.233333,-82.734444,1968-10-10,1968
12,12,Bellmore,NY,US,circle,1800.0,30 min.,silver disc seen by family and neighbors,5/11/2000,40.668611,-73.527500,1970-10-10,1970
13,13,Manchester,KY,US,other,180.0,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.153611,-83.761944,1970-10-10,1970
14,14,Lexington,NC,US,oval,30.0,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.823889,-80.253611,1971-10-10,1971
15,15,Harlan County,KY,US,circle,1200.0,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.843056,-83.321944,1972-10-10,1972
16,16,West Bloomfield,MI,US,circle,120.0,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.537778,-83.233056,1972-10-10,1972
17,17,Niantic,CT,US,circle,1800.0,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.325278,-72.193611,1973-10-10,1973
18,18,Bermuda Nas,NaN,NaN,light,20.0,20 sec.,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611,1973-10-10,1973
19,19,Willow Beach,AZ,US,light,120.0,2 min,The object was a brillant white light standing...,2/18/2001,0.000000,0.000000,1974-10-10,1974
20,20,Hudson,MA,US,other,2700.0,45 minutes,Not sure of the eact month or year of this sig...,8/10/1999,42.391667,-71.566667,1974-10-10,1974
21,21,Cardiff,NaN,GB,circle,1200.0,20 minutes,back in 1974 I was 19 at the time and lived i...,2/1/2007,51.500000,-3.200000,1974-10-10,1974
22,22,Hudson,KS,US,light,1200.0,one hour?,The light chased us.,7/25/2004,38.105556,-98.659722,1974-10-10,1974
23,23,North Charleston,SC,US,light,360.0,5-6 minutes,Several Flashing UFO lights over Charleston Na...,2/14/2008,32.854444,-79.975000,1975-10-10,1975
24,24,Washougal,WA,US,oval,60.0,1 minute,Three extremely large lights hanging above nea...,2/7/2014,45.582778,-122.352222,1976-10-10,1976
25,25,Stoke Mandeville,NaN,GB,cigar,3.0,3 seconds,White object over Buckinghamshire UK.,12/12/2009,51.783333,-0.783333,1976-10-10,1976
26,26,San Antonio,TX,US,other,30.0,30 seconds,i was about six or seven and my family and me ...,2/24/2005,29.423889,-98.493333,1977-10-10,1977
27,27,Louisville,KY,US,light,30.0,approx: 30 seconds,HBCCUFO CANADIAN REPORT: Pilot Sighting Of Un...,3/17/2004,38.254167,-85.759444,1977-10-10,1977
28,28,Elmont,NY,US,rectangle,300.0,5min,A memory I will never forget that happened men...,2/1/2007,40.700833,-73.713333,1978-10-10,1978
29,29,Poughkeepsie,NY,US,chevron,900.0,15 minutes,1/4 moon-like&#44 its &#39chord&#39 or flat s...,4/16/2005,41.700278,-73.921389,1979-10-10,1979

In [67]:
df['city'] = df['city'].str.strip().str.replace(r'\s+', ' ', regex=True)

In [68]:
import pycountry

In [69]:
#check gdzie brakuje country id
empty_country=df['country_id'].isnull().sum()
print(empty_country)

1114

In [70]:
empty=df[df['country_id'].isnull()]
print(empty)

          id                   city state_id country_id shape_type  \
18        18            Bermuda Nas      NaN        NaN      light
102      102   Carnival Cruise Ship      NaN        NaN      light
126      126                Bahamas      NaN        NaN       oval
219      219              Greenland      NaN        NaN  rectangle
553      553               Viet Nam      NaN        NaN      light
...      ...                    ...      ...        ...        ...
88424  88424      Germany Or France      NaN        NaN      cigar
88459  88459  Cozumel And Ocho Rios      NaN        NaN   triangle
88489  88489               Thailand      NaN        NaN   changing
88525  88525                  Dubai      NaN        NaN     circle
88623  88623                Denmark      NaN        NaN      light

       duration_in_sec duration_string  \
18                20.0         20 sec.
102             1200.0        20 mins.
126                0.0             NaN
219                0.0             NaN
553              600.0    5/10 minutes
...                ...             ...
88424              0.0           short
88459           2700.0          45 min
88489            600.0       5-10 mins
88525             15.0         15 secs
88623            300.0       5 minutes

                                                comments date_posted  \
18     saw fast moving blip on the radar scope thin w...   1/11/2002
102                    Motionless eratic flashing light.   12/9/2000
126    we are sitting outside and commenting on all t...  10/15/2002
219    Found this on google maps 70.5&#44 -40.3 Look ...  12/12/2009
553                            U.F.O. in Vietnam    1970    6/4/2004
...                                                  ...         ...
88424                                 Cigar shaped craft   12/2/2000
88459  My husband and I&#44 while traveling on our ho...   10/2/1999
88489  you can see or documented another type ball of...  10/15/2002
88525  silver&#44 disk shaped object with lights surr...   9/29/2004
88623   slow moving light about 5 meters up in the skye.  10/10/2011

        latitude   longitude       date  year
18     32.364167  -64.678611 1973-10-10  1973
102     0.000000    0.000000 2000-10-10  2000
126    25.034280  -77.396280 2002-10-10  2002
219     0.000000    0.000000 2009-10-10  2009
553    14.058324  108.277199 1970-10-01  1970
...          ...         ...        ...   ...
88424  47.849552    7.219929 1944-09-09  1944
88459  20.422984  -86.922343 1999-09-09  1999
88489  15.870032  100.992541 2002-09-09  2002
88525  25.047664   55.181741 2004-09-09  2004
88623   0.000000    0.000000 2011-09-09  2011

[1114 rows x 13 columns]

In [71]:
df['city'] = df['city'].str.replace(r'\bNas\b', '', regex=True)

In [72]:
#funkcja do wyszukania nazwy kraju po country_id przy użyciu ISC code
def get_country_name(iso_code):
    if isinstance(iso_code, str):  # Sprawdzamy, czy kod jest łańcuchem znaków
        try:
            iso_code = iso_code.upper()
            country = pycountry.countries.get(alpha_2=iso_code)
            return country.name if country else None
        except KeyError:
            return None
    else:
        return None  # Dla NaN i innych nieprawidłowych danych zwracamy None

In [73]:
#nowa kolumna country_name, która korzysta z funkcji get_country_name
df['country_name'] = df['country_id'].apply(get_country_name)

In [74]:
df.head(2)

,id,city,state_id,country_id,shape_type,duration_in_sec,duration_string,comments,date_posted,latitude,longitude,date,year,country_name
0,0,San Marcos,TX,US,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,1949-10-10,1949,United States
1,1,Lackland Afb,TX,US,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,1949-10-10,1949,United States

In [75]:
#gdy country_name jest puste, dodajemy info z city
df['country_name'] = df['country_name'].fillna(df['city'])
df.head(2)

,id,city,state_id,country_id,shape_type,duration_in_sec,duration_string,comments,date_posted,latitude,longitude,date,year,country_name
0,0,San Marcos,TX,US,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111,1949-10-10,1949,United States
1,1,Lackland Afb,TX,US,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082,1949-10-10,1949,United States

In [76]:
new_order = ['id','date','year','city','state_id','country_id','country_name','shape_type','duration_in_sec','duration_string','comments','date_posted','latitude','longitude']

In [77]:
df = df[new_order]

In [78]:
#usunięcie niewidzialnych znaków z country_name
df['country_name'] = df['country_name'].str.strip().str.replace(r'\s+', ' ', regex=True)

In [79]:
#check ile %obserwacji to pozycje z country_id NaN
liczba_nan = df['country_id'].isna().sum()

liczba_wszystkich = len(df)

procent_nan = (liczba_nan / liczba_wszystkich) * 100

print(f'Liczba wierszy z NaN w kolumnie country_id: {liczba_nan}')
print(f'To stanowi {procent_nan:.2f}% wszystkich obserwacji.')

Liczba wierszy z NaN w kolumnie country_id: 1114
To stanowi 1.26% wszystkich obserwacji.

In [80]:
#usuwanie znaków zapytania
df= df[~df['city'].str.contains('\?', na=False)]

In [81]:
def get_country_code(name):
    try:
        return pycountry.countries.lookup(name).alpha_2  # Zwraca kod ISO alpha_2 (np. 'PL')
    except LookupError:
        return None  # Jeśli nie znajdzie kraju, zwraca None

# Uzupełnianie brakujących wartości w kolumnie country_id
df['country_id'] = df.apply(
    lambda row: get_country_code(row['country_name']) if pd.isna(row['country_id']) else row['country_id'],
    axis=1)

In [82]:
df.head(20)

,id,date,year,city,state_id,country_id,country_name,shape_type,duration_in_sec,duration_string,comments,date_posted,latitude,longitude
0,0,1949-10-10,1949,San Marcos,TX,US,United States,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,1,1949-10-10,1949,Lackland Afb,TX,US,United States,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,2,1955-10-10,1955,Chester,NaN,GB,United Kingdom,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,3,1956-10-10,1956,Edna,TX,US,United States,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,4,1960-10-10,1960,Kaneohe,HI,US,United States,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611
5,5,1961-10-10,1961,Bristol,TN,US,United States,sphere,300.0,5 minutes,My father is now 89 my brother 52 the girl wit...,4/27/2007,36.595000,-82.188889
6,6,1965-10-10,1965,Penarth,NaN,GB,United Kingdom,circle,180.0,about 3 mins,penarth uk circle 3mins stayed 30ft above m...,2/14/2006,51.434722,-3.180000
7,7,1965-10-10,1965,Norwalk,CT,US,United States,circle,1200.0,20 minutes,A bright orange color changing to reddish colo...,10/2/1999,41.117500,-73.408333
8,8,1966-10-10,1966,Pell City,AL,US,United States,circle,180.0,3 minutes,Strobe Lighted disk shape object observed clos...,3/19/2009,33.586111,-86.286111
9,9,1966-10-10,1966,Live Oak,FL,US,United States,circle,120.0,several minutes,Saucer zaps energy from powerline as my pregna...,5/11/2005,30.294722,-82.984167
10,10,1968-10-10,1968,Hawthorne,CA,US,United States,circle,300.0,5 min.,ROUND &#44 ORANGE &#44 WITH WHAT I WOULD SAY W...,10/31/2003,33.916389,-118.351667
11,11,1968-10-10,1968,Brevard,NC,US,United States,fireball,180.0,3 minutes,silent red /orange mass of energy floated by t...,6/12/2008,35.233333,-82.734444
12,12,1970-10-10,1970,Bellmore,NY,US,United States,circle,1800.0,30 min.,silver disc seen by family and neighbors,5/11/2000,40.668611,-73.527500
13,13,1970-10-10,1970,Manchester,KY,US,United States,other,180.0,3 minutes,Slow moving&#44 silent craft accelerated at an...,2/14/2008,37.153611,-83.761944
14,14,1971-10-10,1971,Lexington,NC,US,United States,oval,30.0,30 seconds,green oval shaped light over my local church&#...,2/14/2010,35.823889,-80.253611
15,15,1972-10-10,1972,Harlan County,KY,US,United States,circle,1200.0,20minutes,On october 10&#44 1972 myself&#44my 5yrs.daugh...,9/15/2005,36.843056,-83.321944
16,16,1972-10-10,1972,West Bloomfield,MI,US,United States,circle,120.0,2 minutes,The UFO was so close&#44 my battery in the car...,8/14/2007,42.537778,-83.233056
17,17,1973-10-10,1973,Niantic,CT,US,United States,circle,1800.0,20-30 min,Oh&#44 what a night &#33 Two (2) saucer-shape...,9/24/2003,41.325278,-72.193611
18,18,1973-10-10,1973,Bermuda,NaN,BM,Bermuda,light,20.0,20 sec.,saw fast moving blip on the radar scope thin w...,1/11/2002,32.364167,-64.678611
19,19,1974-10-10,1974,Willow Beach,AZ,US,United States,light,120.0,2 min,The object was a brillant white light standing...,2/18/2001,0.000000,0.000000

In [83]:
#kolejny check % obserwacji bez country_id
liczba_nan = df['country_id'].isna().sum()

liczba_wszystkich = len(df)

procent_nan = (liczba_nan / liczba_wszystkich) * 100

print(f'Liczba wierszy z NaN w kolumnie country_id: {liczba_nan}')
print(f'To stanowi {procent_nan:.2f}% wszystkich obserwacji.')

Liczba wierszy z NaN w kolumnie country_id: 792
To stanowi 0.89% wszystkich obserwacji.

In [84]:
#usuwanie pozycji gdzie country_id nie zostało uzupełnione
df= df.dropna(subset=['country_id'])

In [85]:
df2=pd.read_csv(r"C:\Python\regions.csv",
                sep=",",
                header=0
                  )
df2.head(3)

,name,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,Afghanistan,AF,AFG,4,ISO 3166-2:AF,Asia,Southern Asia,NaN,142.0,34.0,NaN
1,Åland Islands,AX,ALA,248,ISO 3166-2:AX,Europe,Northern Europe,NaN,150.0,154.0,NaN
2,Albania,AL,ALB,8,ISO 3166-2:AL,Europe,Southern Europe,NaN,150.0,39.0,NaN

In [86]:
df_merged=df.merge(right=df2,how='left',left_on='country_id',right_on='alpha-2')

In [87]:
df_merged.head(20)

,id,date,year,city,state_id,country_id,country_name,shape_type,duration_in_sec,duration_string,...,alpha-2,alpha-3,country-code,iso_3166-2,region,sub-region,intermediate-region,region-code,sub-region-code,intermediate-region-code
0,0,1949-10-10,1949,San Marcos,TX,US,United States,cylinder,2700.0,45 minutes,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
1,1,1949-10-10,1949,Lackland Afb,TX,US,United States,light,7200.0,1-2 hrs,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
2,2,1955-10-10,1955,Chester,NaN,GB,United Kingdom,circle,20.0,20 seconds,...,GB,GBR,826.0,ISO 3166-2:GB,Europe,Northern Europe,NaN,150.0,154.0,NaN
3,3,1956-10-10,1956,Edna,TX,US,United States,circle,20.0,1/2 hour,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
4,4,1960-10-10,1960,Kaneohe,HI,US,United States,light,900.0,15 minutes,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
5,5,1961-10-10,1961,Bristol,TN,US,United States,sphere,300.0,5 minutes,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
6,6,1965-10-10,1965,Penarth,NaN,GB,United Kingdom,circle,180.0,about 3 mins,...,GB,GBR,826.0,ISO 3166-2:GB,Europe,Northern Europe,NaN,150.0,154.0,NaN
7,7,1965-10-10,1965,Norwalk,CT,US,United States,circle,1200.0,20 minutes,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
8,8,1966-10-10,1966,Pell City,AL,US,United States,circle,180.0,3 minutes,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
9,9,1966-10-10,1966,Live Oak,FL,US,United States,circle,120.0,several minutes,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
10,10,1968-10-10,1968,Hawthorne,CA,US,United States,circle,300.0,5 min.,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
11,11,1968-10-10,1968,Brevard,NC,US,United States,fireball,180.0,3 minutes,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
12,12,1970-10-10,1970,Bellmore,NY,US,United States,circle,1800.0,30 min.,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
13,13,1970-10-10,1970,Manchester,KY,US,United States,other,180.0,3 minutes,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
14,14,1971-10-10,1971,Lexington,NC,US,United States,oval,30.0,30 seconds,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
15,15,1972-10-10,1972,Harlan County,KY,US,United States,circle,1200.0,20minutes,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
16,16,1972-10-10,1972,West Bloomfield,MI,US,United States,circle,120.0,2 minutes,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
17,17,1973-10-10,1973,Niantic,CT,US,United States,circle,1800.0,20-30 min,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN
18,18,1973-10-10,1973,Bermuda,NaN,BM,Bermuda,light,20.0,20 sec.,...,BM,BMU,60.0,ISO 3166-2:BM,Americas,Northern America,NaN,19.0,21.0,NaN
19,19,1974-10-10,1974,Willow Beach,AZ,US,United States,light,120.0,2 min,...,US,USA,840.0,ISO 3166-2:US,Americas,Northern America,NaN,19.0,21.0,NaN

In [88]:
df_merged.drop(columns="country-code",inplace=True)
df_merged.drop(columns="iso_3166-2",inplace=True)
df_merged.drop(columns="intermediate-region",inplace=True)
df_merged.drop(columns="region-code",inplace=True)
df_merged.drop(columns="sub-region-code",inplace=True)
df_merged.drop(columns="intermediate-region-code",inplace=True)

In [89]:
cleared_data = df_merged

In [90]:
cleared_data.to_csv(r"C:\Python\cleared_data.csv",index=False)